.grid{

    position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Julius+Sans+One|Poiret+One&display=swap');

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 600%;
    letter-spacing: 5px;
    line-height:60px;
     font-family: 'Poiret One';
     
     
  }
  .centered1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 200%;
    letter-spacing: 3px;
    line-height:70px;
    font-family: 'Julius Sans One';
    
  }
